.state-dropdown{
    position: relative;
    border: none;
   }


.state-dropdown button{
   background: white;
   height: 30px;
   width: 200px;
   color: black;
   display: flex;
   align-items: center;
   padding-left: 10px;
   font-size: 18px;
   justify-content: space-between;
  }

  .state-dropdown button svg{
    height: 14px;
    width: 14px;
   }

  .panel{
    position: absolute;
    background: white;
    padding: 10px;
    color: black;
    width: 100%;
    display: grid;
    font-size: 10px;
    overflow-y: auto;
    height: 260px;
    grid-template-columns: repeat(3, 1fr);
   }


   .panel fieldset{
    display: flex;
    width: 100%;
    align-items: center;
    border: none;
   }

   .panel fieldset.selected {
    background: #e5f4fa;
   }